<h1>Wypożyczenia otwarte</h1>

<table>
  <thead>
    <tr>
      <th>Car</th>
      <th>Person</th>
      <th>Data wypożyczenia</th>
      <th>Data planowanego zwrotu</th>
      <th>AKCJA</th>
    </tr>
  </thead>
  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent_car_datas(rent) %></td>
        <td><%= rent_client_datas(rent) %></td>
        <td><%= rent.created_at %></td>
        <td><%= rent.plan_return_date %></td>
        <td><%= link_to "Zwrot samochodu", return_rent_path(rent) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

