<h1>Szczegółowy opis klienta</h1>

<h2>Imię: <%= @client.name %> Nazwisko: <%= @client.surname %></h2>
<h3>Wiek: <%= @client.age %></h3>
<h4>Typ dokumentu: <%= @client.document_type %></h4>
<h4>Numer dokumentu: <%= @client.document_no %></h4>
