
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>MARKA</th>
        <th>MODEL</th>
        <th>DOSTĘPNOŚĆ</th>
        <th>OPCJE</th>
      </tr>
    </thead>
    <tbody class="table table-striped">
      <% @cars.each do |car| %>
      <tr>
        <td><%= car.model.brand.brand_name %></td>
        <td><%= car.model.model_name %></td>
        <td>
           <%= car_state(car.state) %>
        </td>
        <td><%= link_to 'Usuń', car, method: :delete, data: { confirm: 'Na pewno usunąć?' }, class: "btn btn-danger btn-xs" %>
          <%= link_to 'Szczegóły', car_path(car), class: "btn btn-info btn-xs" %>

        </td>
       
        <% end %>
      </tr>     
    </tbody>
  </table>
  

<%= link_to "Dodaj nowe wypożyczenie", new_rent_path(:new_brand), class: "btn btn-danger" %>
<%= link_to "Dodaj nowy samochód", wizard_car_path(:new_brand), class: "btn btn-success" %>
