<!DOCTYPE html>
<html>
<head>
  <title>Rent Car Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  <div id='user_header'>
    <%=link_to 'Home', cars_path, :class=>'btn btn-info btn-sm', :type=>'button'%>
    <%if user_signed_in?%>
      Logged in as <%=current_user.email%>
      <%=link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-default btn-sm", :type=>"button"%>
      <%else%>
        <%=link_to "Sign up", new_user_registration_path, :class => "btn btn-primary btn-sm", :type=>"button"%>
        <%=link_to "Sign in", new_user_session_path, :class => "btn btn-default btn-sm", :type=>"button"%>
      <%end%>
  </div>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
